/* --- font ---- */
@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

/* --- util --- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:root {
  /* 색상 */
  --main-color: #ffffff;
  --point-color: #5b2386;
  --point-color2: #f5df4d;
  --point-bg-color: #fcee21;

  /* 글씨 크기 */
  --main-font-size: 2.4rem;
  --middle-font-size: 1.9rem;
  --small-font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  font-family: "GmarketSansMedium";
  font-size: 1.6rem;
  background-color: var(--point-color);
}

/* -----------------header-------------------- */
header {
  margin: 12rem auto 5.2rem;
}

.web-title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 56.4rem;
  background: url("../src/images/clock.png") no-repeat center / contain;
  aspect-ratio: 564 / 265;
}

.web-title img {
  width: 100%;
}

/* -----------------main-------------------- */
main {
  margin: 0 auto 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quote-cont {
  max-width: 48.6rem;
  margin-bottom: 10rem;
}

.quote {
  font-family: "OTEnjoystoriesBA";
  font-size: 3.6rem;
  color: var(--point-color2);
  margin-bottom: 8rem;
}

.rule-cont {
  max-width: 48.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rule-desc {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--main-color);
  line-height: 1.6;
}

.strong {
  font-family: "GmarketSansBold";
  font-size: var(--main-font-size);
  font-weight: 500;
  line-height: 1.6;
}

.rule-cont::before {
  content: "";
  width: 3.6rem;
  height: 3.2rem;
  background: url("../src/images/left-quote.png") no-repeat center / contain;
}

.rule-cont::after {
  content: "";
  width: 3.6rem;
  height: 3.2rem;
  background: url("../src/images/right-quote.png") no-repeat center / contain;
}

.training-calculator {
  max-width: 77.1rem;
  /* display: flex;
  flex-direction: column; */
  font-size: var(--main-font-size);
  color: var(--main-color);
  margin-bottom: 12rem;
}

.input-group {
  margin-bottom: 14.5rem;
}

.input-cont {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 12rem;
}

/* .input-cont p {
  line-height: 3;
  max-width: 100%;
} */

.input-box {
  width: 22.8rem;
  margin: 0 1rem;
  padding: 1.2rem 0;
  text-align: center;
  border: none;
  border-radius: 0.8rem;
  font-family: "GmarketSansMedium";
  font-weight: 400;
  font-size: var(--main-font-size);
}

.input-box::placeholder {
  color: #babcbe;
  text-align: center;
  margin: 0;
  padding: 0;
}

.btn-wrapper {
  position: relative;
}

.calculate-btn {
  /* width: 100%; */
  max-width: 56.7rem;
  padding: 2rem 5rem;
  border: none;
  border-radius: 1.2rem;
  background-color: var(--point-bg-color);
  font-family: "GmarketSansBold";
  font-size: var(--main-font-size);
  color: var(--point-color);
  cursor: pointer;
  box-shadow: 2px 4px 10px 0px #00000026;
}

.click-icon {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  width: 6.4rem;
  aspect-ratio: 64 / 72;
  object-fit: contain;
}

.result-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--main-color);
}

.result-group p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-goal {
  font-size: 7.2rem;
  font-family: "GmarketSansBold";
  margin: 0 1.2rem;
  line-height: 1;
}

.btn-cont {
  display: flex;
  gap: 1.2rem;
}

.modal-btn {
  border: none;
  border-radius: 1.2rem;
  padding: 2rem 5rem;
  background-color: var(--point-bg-color);
  font-family: "GmarketSansBold";
  font-size: var(--main-font-size);
  color: var(--point-color);
  cursor: pointer;
  box-shadow: 2px 4px 10px 0px #00000026;
}

.share-btn {
  border: none;
  border-radius: 1.2rem;
  padding: 2rem 5rem;
  background-color: var(--main-color);
  font-family: "GmarketSansBold";
  font-size: var(--main-font-size);
  color: var(--point-color);
  cursor: pointer;
  box-shadow: 2px 4px 10px 0px #00000026;
}

dialog {
  width: 50%;
  padding: 0;
  overflow-y: hidden;
  border: none;
  border-radius: 2rem;
  box-shadow: 4px 4px 30px 0px #00000026;
}

.dialog-cont {
  width: calc(100% - 20rem);
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}

.cheering-cont {
  font-family: "OTEnjoystoriesBA";
  color: var(--point-color);
  text-align: center;
}

.message-large {
  font-size: 9rem;
}

.message-small {
  font-size: 3.6rem;
}

.img-btn-cont img {
  width: 100%;
  aspect-ratio: 438 / 342;
  object-fit: contain;
  margin-bottom: 2rem;
}

.close-btn {
  width: 100%;
  padding: 2rem 5rem;
  border: none;
  border-radius: 1.2rem;
  background-color: var(--point-bg-color);
  font-family: "GmarketSansBold";
  font-size: var(--main-font-size);
  color: var(--point-color);
  cursor: pointer;
  box-shadow: 2px 4px 10px 0px #00000026;
}

/* -----------------footer-------------------- */
footer {
  margin: 0 auto 10.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.weniv-logo {
  width: clamp(12.5rem, 15vw, 16.8rem);
  height: auto;
}

.warning-text {
  font-family: "Noto Sans KR";
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--main-color);
}

/* ------ 미디어쿼리 ------ */
/* 태블릿 가로 */
@media screen and (max-width: 1024px) {
  .web-title {
    max-width: 49rem;
    margin-bottom: 4rem;
  }

  .quote {
    font-size: 3rem;
  }

  .user-goal {
    font-size: 6rem;
  }

  dialog {
    width: 60%;
  }
}

/* 태블릿 세로 */
@media screen and (max-width: 768px) {
  header {
    margin: 8rem auto 4rem;
  }

  main {
    margin-bottom: 8rem;
  }

  .web-title {
    max-width: 42.2rem;
  }

  .quote-cont {
    max-width: 40rem;
    margin-bottom: 8rem;
  }

  .quote {
    font-size: 2.9rem;
    margin-bottom: 5rem;
  }

  .rule-desc {
    font-size: 1.6rem;
  }

  .strong {
    font-size: 1.9rem;
  }

  .rule-cont::before,
  .rule-cont::after {
    width: 2.8rem;
    height: 2.4rem;
  }

  .training-calculator {
    font-size: var(--middle-font-size);
    margin-bottom: 9rem;
  }

  .input-group {
    margin-bottom: 9rem;
  }

  .input-cont {
    gap: 1.5rem;
    margin-bottom: 10rem;
  }

  /* 768px 이하에서 두 번째 줄 세로 배치 */
  .input-cont p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.4;
  }

  .input-cont p:first-child {
    flex-wrap: nowrap;
  }

  .input-cont p:last-child {
    flex-direction: column;
    gap: 1.5rem;
  }

  .input-cont p:last-child span:first-child {
    text-align: center;
  }

  .input-cont p:last-child span:last-child {
    display: flex;
    align-items: center;
  }

  .input-box {
    width: 20rem;
    font-size: var(--middle-font-size);
  }

  .calculate-btn {
    max-width: 30rem;
    padding: 2rem 3.8rem;
    font-size: var(--middle-font-size);
  }

  .click-icon {
    width: 5.4rem;
    top: 4.5rem;
    right: 3.5rem;
  }

  .result-group {
    gap: 1.8rem;
  }

  .user-goal {
    font-size: 4.8rem;
  }

  .btn-cont {
    padding: 0 3rem;
    gap: 1rem;
  }

  .modal-btn,
  .share-btn {
    padding: 1.8rem 3rem;
    font-size: var(--middle-font-size);
  }

  .dialog-cont {
    width: calc(100% - 12rem);
  }

  .message-large {
    font-size: 8rem;
  }

  .img-btn-cont img {
    vertical-align: bottom;
  }

  .close-btn {
    font-size: var(--middle-font-size);
  }

  .warning-text {
    font-size: 1rem;
  }
}

/* 모바일 */
@media screen and (max-width: 492px) {
  main {
    width: 100%;
  }

  .web-title {
    max-width: 30rem;
  }

  .rule-cont::before,
  .rule-cont::after {
    width: 2.4rem;
    height: 2rem;
  }

  .training-calculator {
    font-size: 1.6rem;
    padding: 0 1rem;
  }

  .input-box {
    width: 16rem;
  }

  .calculate-btn {
    max-width: 27rem;
    font-size: 1.6rem;
  }

  .click-icon {
    width: 5rem;
    right: 0.5rem;
  }

  .result-group {
    gap: 1.6rem;
  }

  .user-goal {
    font-size: 3.6rem;
  }

  .btn-cont {
    padding: 0 1rem;
  }

  .modal-btn,
  .share-btn {
    padding: 1.6rem 2.4rem;
    font-size: 1.6rem;
  }

  dialog {
    width: 80%;
  }

  .dialog-cont {
    width: calc(100% - 9rem);
  }

  .message-large {
    font-size: 7rem;
  }

  .close-btn {
    padding: 2rem 3rem;
  }

  footer {
    margin-bottom: 6rem;
  }

  .warning-text {
    font-size: 1rem;
  }
}

/* 최소 모바일 */
@media screen and (max-width: 410px) {
  header {
    margin: 4rem auto 3.2rem;
  }

  main {
    /* 여백 없이 너비 채움 */
    width: 100%;
    margin-bottom: 6rem;
  }

  .quote-cont {
    margin-bottom: 6rem;
  }

  .quote {
    font-size: 2.2rem;
    margin-bottom: 3.2rem;
  }

  .rule-desc,
  .strong {
    font-size: var(--small-font-size);
    line-height: 2;
  }

  .training-calculator {
    margin-bottom: 5.2rem;
    font-size: var(--small-font-size);
  }

  .input-group {
    margin-bottom: 6.8rem;
  }

  .input-cont {
    gap: 1rem;
    margin-bottom: 8rem;
  }

  .input-cont p:last-child {
    gap: 1rem;
  }

  .input-box {
    width: 15.6rem;
    font-size: var(--small-font-size);
  }

  .calculate-btn {
    max-width: 24rem;
    padding: 2rem 3.8rem;
    font-size: var(--small-font-size);
  }

  .click-icon {
    width: 4.3rem;
    right: -0.5rem;
  }

  .user-goal {
    font-size: var(--main-font-size);
  }

  .btn-cont {
    padding: 0 1rem;
    gap: 0.8rem;
  }

  .modal-btn,
  .share-btn {
    font-size: var(--small-font-size);
  }

  dialog {
    width: 90%;
  }

  .dialog-cont {
    width: calc(100% - 6rem);
  }

  .message-large {
    font-size: 6.4rem;
  }

  .close-btn {
    font-size: var(--small-font-size);
  }

  footer {
    margin-bottom: 4.8rem;
    gap: 1.2rem;
  }

  .warning-text {
    font-size: 0.8rem;
  }
}
